.input {
  input {
    width: 340px;
  }

  &:nth-child(5),
  &:nth-child(6) {
    input {
      width: 166px;
    }
  }
}

.root {
  width: 700px;

  form {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  height: 35px;
  width: 341px;
  margin-top: 17px;
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 500;

  text-align: center;
}

.dataSaved {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  height: 35px;
  color: #029cfb;

  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: no-repeat center/contain url('assets/png/doubleCheckMark.png');
  }
}
